# 数据处理模块pandas



pandans常见应用:
written by YZ.

拼接DataFrame--按行,按列
pandas某一列去重获取唯一值
建议参考及百度:
https://blog.csdn.net/bitcarmanlee/article/details/113190828
pandas dataframe 新增单列和多列
建议参考及百度:
https://blog.csdn.net/qq_33873431/article/details/107464416

* random
* numpy,numpy.random
* pandas

## pandas

In [ ]:
import pandas as pd
import numpy as np
mat = np.fix(100* np.random.rand(10,6))

d = pd.DataFrame(mat,columns=['time','longt','lant','h','f1','f2'])
print(d)

## 创建DataFrame对象

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key1':list('aabbabbc'),
                  'key2': ['one','two','one','two','one','three','two','five'],
                  'data1': np.fix(10*np.random.randn(8)),
                  'data2': np.fix(10*np.random.randn(8))})
print('df1:',df1)

# 快速产生数据表
df2 = pd.DataFrame({'key1': list('aabba'),#list('uvvwx'),
                  'key2': ['one','two','one','two','one'],
                  'data1': [2,4,6,8,5], # 单个数据列
                  'data2': [1,3,5,7,9]})     # 单个数据列
print('df2:',df2)
        
t1 = df1['data1']                  # 提取某一列-- 注意:t1 数据类型: <class 'pandas.core.series.Series'>
t2 = df1[['key1','data1','data2']] # 提取某些列-- 注意:t2 数据类型: <class 'pandas.core.frame.DataFrame'>
# t2 = df1[('data1','data2')]      # 有错
print('注意下列2种提取某列数据的方式: 根据需要灵活选择.')
print("type(df1['data1'])",type(df1['data1']))
print("type(df1[['data1']])",type(df1[['data1']]))

print('提取某一列(data1):\n',t1)
print('提取某些列(key1,data1,data2):\n',t2)

In [ ]:
df1:   key1   key2  data1  data2
0    a    one    2.0  -28.0
1    a    two  -17.0   15.0
2    b    one   -0.0    2.0
3    b    two    9.0    0.0
4    a    one   -4.0   13.0
5    b  three    4.0  -11.0
6    b    two    9.0   -3.0
7    c   five   -1.0   -3.0
df2:   key1 key2  data1  data2
0    a  one      2      1
1    a  two      4      3
2    b  one      6      5
3    b  two      8      7
4    a  one      5      9
注意下列2种提取某列数据的方式: 根据需要灵活选择.
type(df1['data1']) <class 'pandas.core.series.Series'>
type(df1[['data1']]) <class 'pandas.core.frame.DataFrame'>
提取某一列(data1):
 0     2.0
1   -17.0
2    -0.0
3     9.0
4    -4.0
5     4.0
6     9.0
7    -1.0
Name: data1, dtype: float64
提取某些列(key1,data1,data2):
   key1  data1  data2
0    a    2.0  -28.0
1    a  -17.0   15.0
2    b   -0.0    2.0
3    b    9.0    0.0
4    a   -4.0   13.0
5    b    4.0  -11.0
6    b    9.0   -3.0
7    c   -1.0   -3.0

## 分组功能group

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key1':list('aabbabbc'),
                  'key2': ['one','two','one','two','one','three','two','five'],
                  'data1': np.fix(10*np.random.randn(8)),
                  'data2': np.fix(10*np.random.randn(8))})
print('df1:',df1)
#g1 = t1.groupby('data1') # 出错
g1 = df1.groupby('key1')
print('按key1字段分组:\n')
print(g1)
print('type:',type(g1))
for keyvalue,data in g1:
    print('-'*20)
    print('keyvalue:',keyvalue)
    print('data:')
    print(data)

In [ ]:
df1:   key1   key2  data1  data2
0    a    one    2.0  -11.0
1    a    two   -1.0  -10.0
2    b    one   12.0   -7.0
3    b    two   -9.0   -6.0
4    a    one  -10.0    7.0
5    b  three    6.0   10.0
6    b    two    8.0   -0.0
7    c   five   24.0   -6.0
按key1字段分组:

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000200628D5088>
type: <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
--------------------
keyvalue: a
data:
  key1 key2  data1  data2
0    a  one    2.0  -11.0
1    a  two   -1.0  -10.0
4    a  one  -10.0    7.0
--------------------
keyvalue: b
data:
  key1   key2  data1  data2
2    b    one   12.0   -7.0
3    b    two   -9.0   -6.0
5    b  three    6.0   10.0
6    b    two    8.0   -0.0
--------------------
keyvalue: c
data:
  key1  key2  data1  data2
7    c  five   24.0   -6.0

In [ ]:
i = 0;
print('访问分组数据:\n')
for no,values in g1:
    # values 存储的就是 相应"分组”的数据集(DataFrame对象)
    i += 1
    print('小组i =',i,'no:',no)
    print(' type(values):',type(values),'\n')
    print('sum: ',  values['data1'].sum()) # values指定列后,进行计算
    print('max: ',  values['data1'].max())
    print('min: ',  values['data1'].min())
    print('mean:',  values['data1'].mean())   
    
    print(values)
    for j in range(len(values)):
        print('j =',j,'type(values):',type(values.iloc[j]))
        print('values.iloc[',j,']:\n',values.iloc[j])
    if i==1:
        ttt=values.iloc[j]

In [ ]:
访问分组数据:

小组i = 1 no: a
 type(values): <class 'pandas.core.frame.DataFrame'> 

sum:  -9.0
max:  2.0
min:  -10.0
mean: -3.0
  key1 key2  data1  data2
0    a  one    2.0  -11.0
1    a  two   -1.0  -10.0
4    a  one  -10.0    7.0
j = 0 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 0 ]:
 key1       a
key2     one
data1      2
data2    -11
Name: 0, dtype: object
j = 1 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 1 ]:
 key1       a
key2     two
data1     -1
data2    -10
Name: 1, dtype: object
j = 2 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 2 ]:
 key1       a
key2     one
data1    -10
data2      7
Name: 4, dtype: object
小组i = 2 no: b
 type(values): <class 'pandas.core.frame.DataFrame'> 

sum:  17.0
max:  12.0
min:  -9.0
mean: 4.25
  key1   key2  data1  data2
2    b    one   12.0   -7.0
3    b    two   -9.0   -6.0
5    b  three    6.0   10.0
6    b    two    8.0   -0.0
j = 0 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 0 ]:
 key1       b
key2     one
data1     12
data2     -7
Name: 2, dtype: object
j = 1 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 1 ]:
 key1       b
key2     two
data1     -9
data2     -6
Name: 3, dtype: object
j = 2 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 2 ]:
 key1         b
key2     three
data1        6
data2       10
Name: 5, dtype: object
j = 3 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 3 ]:
 key1       b
key2     two
data1      8
data2     -0
Name: 6, dtype: object
小组i = 3 no: c
 type(values): <class 'pandas.core.frame.DataFrame'> 

sum:  24.0
max:  24.0
min:  24.0
mean: 24.0
  key1  key2  data1  data2
7    c  five   24.0   -6.0
j = 0 type(values): <class 'pandas.core.series.Series'>
values.iloc[ 0 ]:
 key1        c
key2     five
data1      24
data2      -6
Name: 7, dtype: object

In [ ]:
M=[[1,2,3,4],
   [2,0,1,3],
   [4,5,7,6],
   [2,3,1,9]]
df = pd.DataFrame(M,columns=['A','B','C','D'])
print('df:')
print(df)
print('df.min:\n',df.min())
print('df.max\n:',df.max())
print('df.max-min:\n',df.max()-df.min())


# https://www.cnblogs.com/zb-ml/p/8969681.html
df_std = (df-df.min())/(df.max()-df.min())
print('df-std:')
print(df_std)

# d.min(0) axis=0; 每列的最小值,d.min(1),axis=1；每行的最小值

d = np.array(M)
d_std = (d-d.min(0))/(d.max(0)-d.min(0))  
print('d-std:')
print(d_std)

In [ ]:
df:
   A  B  C  D
0  1  2  3  4
1  2  0  1  3
2  4  5  7  6
3  2  3  1  9
df.min:
 A    1
B    0
C    1
D    3
dtype: int64
df.max
: A    4
B    5
C    7
D    9
dtype: int64
df.max-min:
 A    3
B    5
C    6
D    6
dtype: int64
df-std:
          A    B         C         D
0  0.000000  0.4  0.333333  0.166667
1  0.333333  0.0  0.000000  0.000000
2  1.000000  1.0  1.000000  0.500000
3  0.333333  0.6  0.000000  1.000000
d-std:
[[0.         0.4        0.33333333 0.16666667]
 [0.33333333 0.         0.         0.        ]
 [1.         1.         1.         0.5       ]
 [0.33333333 0.6        0.         1.        ]]

In [ ]:
"""
写一个通用的字段的值统计功能

"""
df1 = pd.DataFrame({'key1':list('aabbaccabcbcc'),                  
          'data1': [11,11,22,11,33,44,55,22,33,22,22,44,33],
          'data2': [75,80,75,90,80,80,75,90,80,90,80,90,80],
          'data3': ['K1','K2','K1','K2','K5','K5','K4','K1','K2','K5','K4','K3','K5']})        
#单独统计某个字段各个值出现总次数
t = df1['data1'].value_counts()
print('data1 count:')
print(t)
print('t[22]=',t[22]) # 演示如何访问 某个 值出现的次数
print('t[11]=',t[11])
print('t[44]=',t[44])
print('t[33]=',t[33])
print('t[55]=',t[55])
t = df1['data2'].value_counts()
print('data2 count:')
print(t)
print('t[80]=',t[80])
print('t[90]=',t[90])
print('t[75]=',t[75])
t = df1['data3'].value_counts()
print('data3 count:')
print(t)
print("t['K5']=",t['K5'])
print("t['K2']=",t['K2'])
print("t['K1']=",t['K1'])
print("t['K4']=",t['K4'])
print("t['K3']=",t['K3'])

In [ ]:
data1 count:
22    4
11    3
33    3
44    2
55    1
Name: data1, dtype: int64
t[22]= 4
t[11]= 3
t[44]= 2
t[33]= 3
t[55]= 1
data2 count:
80    6
90    4
75    3
Name: data2, dtype: int64
t[80]= 6
t[90]= 4
t[75]= 3
data3 count:
K5    4
K2    3
K1    3
K4    2
K3    1
Name: data3, dtype: int64
t['K5']= 4
t['K2']= 3
t['K1']= 3
t['K4']= 2
t['K3']= 1

### 拼接

In [ ]:
df1 = pd.DataFrame({'key1':list('aabba'),
                  'key2': ['one','two','one','two','one'],
                  'data1': np.fix(10*np.random.randn(5)),
                  'data2': np.fix(10*np.random.randn(5))})
print('df1:',df1)

# 快速产生数据表
df2 = pd.DataFrame({'key1': list('aabba'),#list('uvvwx'),
                  'key2': ['one','two','one','two','one'],
                  'data1': [2,4,6,8,5], # 单个数据列
                  'data2': [1,3,5,7,9]})     # 单个数据列
print('df2:',df2)
print('df1 + df2 = ',df1 + df2)
df3 = pd.DataFrame({'key1': list('uvvwx'),
                  'key2': ['one','two','one','two','one'],
                  'data1': [100,400,600,800,500], # 单个数据列
                  'data2': [901,903,905,907,909]})     # 单个数据列
print('df2:',df3)
print('df1 + df3 = \n',df1 + df3)

print(' Testing plus operation:\n')
df3.index = pd.Index(range(1001,1001+len(df3)))  # 改变了df3的index

print('df1 = \n',df1)
print('df3 = \n',df3)
print('df1 + df3 = \n',df1 + df3) # Index不同,相加结果为空??

In [ ]:
df1:   key1 key2  data1  data2
0    a  one    9.0    4.0
1    a  two    1.0  -12.0
2    b  one   -8.0    8.0
3    b  two   -7.0   -3.0
4    a  one    5.0   -5.0
df2:   key1 key2  data1  data2
0    a  one      2      1
1    a  two      4      3
2    b  one      6      5
3    b  two      8      7
4    a  one      5      9
df1 + df2 =    key1    key2  data1  data2
0   aa  oneone   11.0    5.0
1   aa  twotwo    5.0   -9.0
2   bb  oneone   -2.0   13.0
3   bb  twotwo    1.0    4.0
4   aa  oneone   10.0    4.0
df2:   key1 key2  data1  data2
0    u  one    100    901
1    v  two    400    903
2    v  one    600    905
3    w  two    800    907
4    x  one    500    909
df1 + df3 = 
   key1    key2  data1  data2
0   au  oneone  109.0  905.0
1   av  twotwo  401.0  891.0
2   bv  oneone  592.0  913.0
3   bw  twotwo  793.0  904.0
4   ax  oneone  505.0  904.0
 Testing plus operation:

df1 = 
   key1 key2  data1  data2
0    a  one    9.0    4.0
1    a  two    1.0  -12.0
2    b  one   -8.0    8.0
3    b  two   -7.0   -3.0
4    a  one    5.0   -5.0
df3 = 
      key1 key2  data1  data2
1001    u  one    100    901
1002    v  two    400    903
1003    v  one    600    905
1004    w  two    800    907
1005    x  one    500    909
df1 + df3 = 
      key1 key2  data1  data2
0     NaN  NaN    NaN    NaN
1     NaN  NaN    NaN    NaN
2     NaN  NaN    NaN    NaN
3     NaN  NaN    NaN    NaN
4     NaN  NaN    NaN    NaN
1001  NaN  NaN    NaN    NaN
1002  NaN  NaN    NaN    NaN
1003  NaN  NaN    NaN    NaN
1004  NaN  NaN    NaN    NaN
1005  NaN  NaN    NaN    NaN

In [ ]:
df1 = pd.DataFrame({'key1':list('abcde'),
                  'key2': ['one','two','one','two','one'],
                  'data1': np.fix(10*np.random.randn(5)),
                  'data2': np.fix(10*np.random.randn(5))})
print('df1:')
print(df1)

# 快速产生数据表
df2 = pd.DataFrame({'key1': list('bcdef'),
                  'key2': ['K11','K12','K13','K14','K15'],
                  'data3': [2,4,6,8,5], # 单个数据列
                  'data4': [1,3,5,7,9]})     # 单个数据列
print('df2:')
print(df2)
df = pd.merge(df1,df2,how='outer')
print('merged df:')
print(df)

In [ ]:
df1:
  key1 key2  data1  data2
0    a  one   -9.0   -2.0
1    b  two   -1.0   -6.0
2    c  one   -5.0   -9.0
3    d  two    9.0    0.0
4    e  one   15.0   -9.0
df2:
  key1 key2  data3  data4
0    b  K11      2      1
1    c  K12      4      3
2    d  K13      6      5
3    e  K14      8      7
4    f  K15      5      9
merged df:
  key1 key2  data1  data2  data3  data4
0    a  one   -9.0   -2.0    NaN    NaN
1    b  two   -1.0   -6.0    NaN    NaN
2    c  one   -5.0   -9.0    NaN    NaN
3    d  two    9.0    0.0    NaN    NaN
4    e  one   15.0   -9.0    NaN    NaN
5    b  K11    NaN    NaN    2.0    1.0
6    c  K12    NaN    NaN    4.0    3.0
7    d  K13    NaN    NaN    6.0    5.0
8    e  K14    NaN    NaN    8.0    7.0
9    f  K15    NaN    NaN    5.0    9.0

* data.dropna(how = 'all')    # 传入这个参数后将只丢弃全为缺失值的那些行
* data.dropna(axis = 1)       # 丢弃有缺失值的列（一般不会这么做，这样会删掉一个特征）
* data.dropna(axis=1,how="all")   # 丢弃全为缺失值的那些列
* data.dropna(axis=0,subset = ["Age", "Sex"])   # 丢弃‘Age’和‘Sex’这两列中有缺失值的行   

原文链接：https://blog.csdn.net/u012413709/article/details/107814533

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.fix(10*np.random.rand(5,6)))  
u  = pd.concat([df.iloc[:,[0]],df.iloc[:,1:].diff(axis=1)] ,axis=1)
print('df=')
print(df)
print('u=')
print(u)
u.dropna(axis=1,inplace=False) # 
print('u=')
print(u)
t=u.dropna(axis=1)
print('t=')
print(t)

In [ ]:
df=
     0    1    2    3    4    5
0  8.0  2.0  8.0  9.0  2.0  9.0
1  5.0  7.0  4.0  9.0  1.0  8.0
2  9.0  4.0  5.0  2.0  0.0  0.0
3  1.0  9.0  7.0  6.0  8.0  3.0
4  4.0  7.0  4.0  6.0  7.0  4.0
u=
     0   1    2    3    4    5
0  8.0 NaN  6.0  1.0 -7.0  7.0
1  5.0 NaN -3.0  5.0 -8.0  7.0
2  9.0 NaN  1.0 -3.0 -2.0  0.0
3  1.0 NaN -2.0 -1.0  2.0 -5.0
4  4.0 NaN -3.0  2.0  1.0 -3.0
u=
     0    2    3    4    5
0  8.0  6.0  1.0 -7.0  7.0
1  5.0 -3.0  5.0 -8.0  7.0
2  9.0  1.0 -3.0 -2.0  0.0
3  1.0 -2.0 -1.0  2.0 -5.0
4  4.0 -3.0  2.0  1.0 -3.0
t=
     0    2    3    4    5
0  8.0  6.0  1.0 -7.0  7.0
1  5.0 -3.0  5.0 -8.0  7.0
2  9.0  1.0 -3.0 -2.0  0.0
3  1.0 -2.0 -1.0  2.0 -5.0
4  4.0 -3.0  2.0  1.0 -3.0

## DataFrame类的用法

## 数据的合并

### 示例1

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'lkey': ['AA', 'BB', 'UU','CC'],
                    'value': [1, 2, 3,5]})
df2 = pd.DataFrame({'rkey': ['AA', 'TT', 'BB','ZZ','CC'],
                    'value': [5, 6, 7,8,12]})

df = pd.merge(df1,df2,how='inner',left_on = 'lkey',right_on ='rkey') # 具有共有的 关键字 才保留
print('df:')
print(df)

In [ ]:
df:
  lkey  value_x rkey  value_y
0   AA        1   AA        5
1   BB        2   BB        7
2   CC        5   CC       12

### 示例2

In [ ]:
import pandas as pd
# 用于合并满足条件的代码数据
df1 = pd.DataFrame({'code': ['A01', 'A02', 'A03','A04']}) #,index=['PZ','PK','PQ','PA']
df2 = pd.DataFrame({'code': ['A01', 'A05', 'A02','A06','A04'],
                    'value': [5, 6, 7,8,12],
                    'height':[100,150,200,120,210]})

df = pd.merge(df1,df2,how='left',on = 'code') #left_on,right_on
print('df:')
print(df)

In [ ]:
df:
  code  value  height
0  A01    5.0   100.0
1  A02    7.0   200.0
2  A03    NaN     NaN
3  A04   12.0   210.0

In [ ]:
df1=pd.DataFrame([[1,2,3],[2,3,4],[4,5,6],[6,7,8]],columns=['a','b','c'])
df2=pd.DataFrame([[200,300,400],[30,40,50]],columns=['aa','bb','cc'])#
df2=pd.DataFrame([[200,300,400],[30,40,50]],columns=['aa','bb','cc'],index=[1 ,2])#

#df3=pd.DataFrame([[1,2,3],[2,3,4]],columns=['a','b','d'])

print('df1:')
print(df1)

print('df2:')
print(df2)

df_r = pd.concat([df1,df2],axis=1,join='inner') # 'inner' 相互共有
print('df_r:')
print(df_r)

In [ ]:
df1:
   a  b  c
0  1  2  3
1  2  3  4
2  4  5  6
3  6  7  8
df2:
    aa   bb   cc
1  200  300  400
2   30   40   50
df_r:
   a  b  c   aa   bb   cc
1  2  3  4  200  300  400
2  4  5  6   30   40   50

## Series类的用法

In [ ]:
#使用pandas模块
import pandas as pd
s     = pd.Series([1,3,5,7,9])
names = pd.Series(['Beijing','Chengdu','Shanghai','Chongqing','Nanjing'])
print('s=')
print(s)
print('names=')
print(names)
print('names index=')
print(names.index)
print('list(names.index)=')
print(list(names.index))

In [ ]:
s=
0    1
1    3
2    5
3    7
4    9
dtype: int64
names=
0      Beijing
1      Chengdu
2     Shanghai
3    Chongqing
4      Nanjing
dtype: object
names index=
RangeIndex(start=0, stop=5, step=1)
list(names.index)=
[0, 1, 2, 3, 4]

In [ ]:
import pandas as pd
s1 = pd.Series([1,3,5,7,9],index=['Beijing','Chengdu','Shanghai','Chongqing','Nanjing'])
s2 = pd.Series([500,400,900,300,800],index=['Nanjing','Chengdu','Shanghai','Chongqing','Beijing'])
print('s1=')
print(s1)
print('s2=')
print(s2)
s2[:]=s1[:]
print('s2 赋值后:')
print(s2)

In [ ]:
s1=
Beijing      1
Chengdu      3
Shanghai     5
Chongqing    7
Nanjing      9
dtype: int64
s2=
Nanjing      500
Chengdu      400
Shanghai     900
Chongqing    300
Beijing      800
dtype: int64
s2 赋值后:
Nanjing      1
Chengdu      3
Shanghai     5
Chongqing    7
Beijing      9
dtype: int64

In [ ]:
s1[:]

In [ ]:
Beijing      1
Chengdu      3
Shanghai     5
Chongqing    7
Nanjing      9
dtype: int64

In [ ]:
s2['Beijing']=100
s2

In [ ]:
Nanjing        1
Chengdu        3
Shanghai       5
Chongqing      7
Beijing      100
dtype: int64

In [ ]:
s1 = pd.Series([1,3,5,7],index=['a','b','c','d'])
s2 = pd.Series([100,200,300],index=['c','a','b'])
s = s1 + s2
print('s1=',s1)
print('s2=',s2)
print(' s=',s) # 有相同index的对应相加,双方没有的同时存在的index，对应元素置为NaN

In [ ]:
s1= a    1
b    3
c    5
d    7
dtype: int64
s2= c    100
a    200
b    300
dtype: int64
 s= a    201.0
b    303.0
c    105.0
d      NaN
dtype: float64

## 综合运用

In [ ]:
df1 = pd.DataFrame({'key1':list('aabba'),
                  'key2': ['one','two','one','two','one'],
                  'data1': np.fix(10*np.random.randn(5)),
                  'data2': np.fix(10*np.random.randn(5)),
                  'data3': np.fix(10*np.random.randn(5)),
                  'data4': np.fix(10*np.random.randn(5)),
                  'data5': np.fix(10*np.random.randn(5))})

New_Index=[]
New_Index.append('data4')
New_Index.append('data3')
New_Index.append('data2')
New_Index.append('data1')
New_Data = []
New_Data.append(100)
New_Data.append(400)
New_Data.append(600)
New_Data.append(900)
New_Series = pd.Series(New_Data,index = New_Index)       
print('New_Data:')
print(New_Data)

print('New_Index:')
print(New_Index)


print('df1(source):')
print(df1)
tid=2
if tid ==1:
    df1.iloc[1,2:6] = New_Series
    df1.iloc[2,[2,4,5,6]] = New_Series
elif tid == 2:
    df1.loc[1,:] = New_Series 
    # New_Series的元素个数 与 df的列数不同，也可以赋值。
    # 根据index与字段名进行匹配赋值，没有的置为NaN
print('df1(after):')
print(df1)

In [ ]:
New_Data:
[100, 400, 600, 900]
New_Index:
['data4', 'data3', 'data2', 'data1']
df1(source):
  key1 key2  data1  data2  data3  data4  data5
0    a  one   -5.0   -0.0   -6.0   -6.0    5.0
1    a  two   -4.0  -13.0   -5.0   -2.0   16.0
2    b  one   -3.0   -5.0    0.0   14.0   -4.0
3    b  two   -5.0   16.0   -2.0    3.0   13.0
4    a  one   -4.0    7.0  -19.0    0.0    3.0
df1(after):
  key1 key2  data1  data2  data3  data4  data5
0    a  one   -5.0   -0.0   -6.0   -6.0    5.0
1  NaN  NaN  900.0  600.0  400.0  100.0    NaN
2    b  one   -3.0   -5.0    0.0   14.0   -4.0
3    b  two   -5.0   16.0   -2.0    3.0   13.0
4    a  one   -4.0    7.0  -19.0    0.0    3.0

创建DataFrame对象实例——通过字典型数据

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key1':list('aabbabbcdc'),
                  'key2': ['one','two','one','two','one','three','two','five','four','two'],
                  'data1': np.fix(10*np.random.randn(10)),
                  'data2': np.fix(10*np.random.randn(10))})
print('df1:',df1)
print('df1.index')
print(df1.index)

In [ ]:
df1:   key1   key2  data1  data2
0    a    one   -9.0    3.0
1    a    two  -12.0   -1.0
2    b    one    5.0    4.0
3    b    two    8.0    1.0
4    a    one    5.0   -9.0
5    b  three   -8.0   11.0
6    b    two   -7.0    4.0
7    c   five  -14.0   -3.0
8    d   four    3.0    2.0
9    c    two    8.0  -20.0
df1.index
RangeIndex(start=0, stop=10, step=1)

更改行索引

In [ ]:
df1.index=range(100,100+len(df1))
print('df1.index')
print(list(df1.index)) #显示为list型数据--直观展示

In [ ]:
df1.index
[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

更换列名

新增单列或多列
新增单行或多行

In [ ]:
df1.columns =['aa','bb','cc','dd'] #直接修改列名
print('df1:')
print(df1)
df2 = pd.DataFrame({'key1': list('aabba'),#list('uvvwx'),
                  'key2': ['one','two','one','two','one'],
                  'data1': [2,4,6,8,5], # 单个数据列
                  'data2': [1,3,5,7,9]})     # 单个数据列
print('df2:',df2)
df = pd.concat([df1,df2],axis=0)
print('df:')
print(df)

In [ ]:
---------------------------------------------------------------------------

NameError                                 Traceback (most recent call last)

<ipython-input-1-16a317c4002e> in <module>
----> 1 df1.columns =['aa','bb','cc','dd'] #直接修改列名
      2 print('df1:')
      3 print(df1)
      4 df2 = pd.DataFrame({'key1': list('aabba'),#list('uvvwx'),
      5                   'key2': ['one','two','one','two','one'],


NameError: name 'df1' is not defined

In [ ]:
df1.columns=df2.columns
print('df1:')
print(df1)
print('df2:')
print(df2)
df = pd.concat([df1,df2],axis=0)
print('df:')
print(df)

In [ ]:
df1:
    key1   key2  data1  data2
100    a    one   -9.0    3.0
101    a    two  -12.0   -1.0
102    b    one    5.0    4.0
103    b    two    8.0    1.0
104    a    one    5.0   -9.0
105    b  three   -8.0   11.0
106    b    two   -7.0    4.0
107    c   five  -14.0   -3.0
108    d   four    3.0    2.0
109    c    two    8.0  -20.0
df2:
  key1 key2  data1  data2
0    a  one      2      1
1    a  two      4      3
2    b  one      6      5
3    b  two      8      7
4    a  one      5      9
df:
    key1   key2  data1  data2
100    a    one   -9.0    3.0
101    a    two  -12.0   -1.0
102    b    one    5.0    4.0
103    b    two    8.0    1.0
104    a    one    5.0   -9.0
105    b  three   -8.0   11.0
106    b    two   -7.0    4.0
107    c   five  -14.0   -3.0
108    d   four    3.0    2.0
109    c    two    8.0  -20.0
0      a    one    2.0    1.0
1      a    two    4.0    3.0
2      b    one    6.0    5.0
3      b    two    8.0    7.0
4      a    one    5.0    9.0

## pandas模块的应用

In [ ]:
import pandas as pd
s1 = pd.Series([1,2,3,5,6])
s2 = pd.Series([3,4,5,6,7])
print(type(s1))
print(type(s2))
print('s1:')
print(s1)

print('s2:')
print(s2)
s1.index

In [ ]:
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
s1:
0    1
1    2
2    3
3    5
4    6
dtype: int64
s2:
0    3
1    4
2    5
3    6
4    7
dtype: int64





RangeIndex(start=0, stop=5, step=1)

In [ ]:
import pandas as pd
s1 = pd.Series([1,2,3,5,6],index=['a','b','c','d','e'])
s2 = pd.Series([3,4,5,6,7],index=['b','d','a','e','c'])
print(type(s1))
print(type(s2))
print('s1:')
print(s1)

print('s2:')
print(s2)
s3 = s1 + s2
print('s3:')
print(s3)

In [ ]:
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
s1:
a    1
b    2
c    3
d    5
e    6
dtype: int64
s2:
b    3
d    4
a    5
e    6
c    7
dtype: int64
s3:
a     6
b     5
c    10
d     9
e    12
dtype: int64

### 读取飞行数据

In [ ]:
import os
import pandas as pd
path = 'C:/temp'
filename = '51st Bisons vs CNF Rd 1__10HZ.csv'
file = os.path.join(path,filename)

df = pd.read_csv(file)
print('df:')
print(df)

In [ ]:
df:
                           ISO time     Unix time   Id  Longitude   Latitude  \
0              2011-06-01T04:30:00Z  1.306903e+09  102  55.234305  27.334936   
1              2011-06-01T04:30:00Z  1.306903e+09  202  53.986418  25.223449   
2            2011-06-01T04:30:00.1Z  1.306903e+09  102  55.234448  27.334872   
3            2011-06-01T04:30:00.1Z  1.306903e+09  202  53.986557  25.223383   
4            2011-06-01T04:30:00.2Z  1.306903e+09  102  55.234591  27.334808   
...                             ...           ...  ...        ...        ...   
452961  2011-06-01T05:12:34.397564Z  1.306905e+09  104  55.458158  25.429394   
452962  2011-06-01T05:12:34.497564Z  1.306905e+09  102  56.162358  26.915947   
452963  2011-06-01T05:12:34.497564Z  1.306905e+09  202  54.885313  24.793791   
452964  2011-06-01T05:12:34.497564Z  1.306905e+09  10B  55.453437  25.421766   
452965  2011-06-01T05:12:34.497564Z  1.306905e+09  104  55.458211  25.429522   

        Altitude  Roll  Pitch    Yaw          U  ...      LonG           Ek  \
0        8997.77   0.0    0.3  116.5  -98921.91  ...       NaN          NaN   
1        8997.77   0.0    0.3  117.5 -227881.20  ...       NaN          NaN   
2        8997.68  -0.1    0.5  116.5  -98907.83  ...       NaN          NaN   
3        8997.68  -0.1    0.5  117.5 -227867.31  ...       NaN          NaN   
4        8997.60  -0.3    0.7  116.5  -98893.75  ...       NaN          NaN   
...          ...   ...    ...    ...        ...  ...       ...          ...   
452961   4809.76  26.6    3.8   29.1  -79297.67  ...  0.790466  1361.692565   
452962   9000.00   0.0    6.4  297.0   -7414.31  ...  0.195479   942.806970   
452963   9000.00   0.0    6.4  297.9 -138022.92  ...  0.195128   942.822961   
452964   2517.80   1.2    2.9  219.8  -79782.27  ...  0.172677  3267.807317   
452965   4806.14  26.5    4.5   29.7  -79292.11  ...  0.790466  1345.690877   

                 Ep           Em FFW FFV Relative Time        Elev  \
0       8823.797657          NaN NaN NaN      0.000000  463.212738   
1       8823.797657          NaN NaN NaN      0.000000    0.000000   
2       8823.713381          NaN NaN NaN      0.100000  462.697296   
3       8823.713381          NaN NaN NaN      0.100000    0.000000   
4       8823.630063          NaN NaN NaN      0.200000  462.445801   
...             ...          ...  ..  ..           ...         ...   
452961  4716.758751  6078.451316 NaN NaN   2271.747564    2.000000   
452962  8825.985000  9768.791970 NaN NaN   2554.497564    5.760117   
452963  8825.985000  9768.807961 NaN NaN   2554.497564   25.000000   
452964  2469.119343  5736.926660 NaN NaN   2436.007564    2.000000   
452965  4713.214375  6058.905252 NaN NaN   2271.847564    2.000000   

       Ground Distance   Air Distance  
0                  NaN            NaN  
1                  NaN            NaN  
2            15.857309      15.879911  
3            15.851492      15.874087  
4            31.714625      31.759824  
...                ...            ...  
452961   345067.018909  352133.065536  
452962   348504.393459  348996.468578  
452963   348437.033936  348929.014185  
452964   351534.626460  356053.836476  
452965   345082.266665  352148.746977  

[452966 rows x 43 columns]

In [ ]:
# 请使用pandas的分组功能或排序功能，分别把各个分解的时序数据，提取为一个DataFrame对象
#df1 = df.iloc[df['Type']=='Air+FixedWing',:] #error

df2= df.loc[df['Type']=='Air+FixedWing',:]
print('df2')
print(df2)
r1 = df2.loc[:,'Id']
print('r1')
print(r1)
print(r1.unique())
#plane1 = r1.loc[r1.loc[:,'Id']==102,:]
PlaneDict = {}
for name,data in df2.groupby('Id'):
    print('object Id:',name)
    #print('data:')
    #print(data)
    PlaneDict[name] = data
print(PlaneDict)

*课后练习题： 一些参考资料，绘制各个飞机的三维轨迹图（2022.10.27memo）